
{% include "store/base.html" %}

{% load static %}

{% block content %}

<style>
    body{
    background-color: white;
    }

</style>

  <body>

       <br>

        <div class="container bg-white shadow-md p-5 form-layout">

            <div class="text-center">

                <i class="fa fa-envelope fa-3x" aria-hidden="true"></i>

                <h3> A verification link was send to your email</h3>

                <p>Please check your email</p>

            </div>

        </div>

  </body>

{% endblock content %}