
{% include "store/base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<style>
    body{
    background-color: white;
    margin:10px;
    }
    div{
     border-radius:20px;
    }
</style>

<h3>Password reset</h3>

<p>Forgotten your password? Enter your email adress below,
    and we'll email instruxtions setting a new one .</p>

<form method="post">
    {% csrf_token %}
    {{form}}

    <input type="Submit" name="Send email">


</form>

{% endblock content %}



