
{% include "store/base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<style>
    body{
    background-color: gray;
    margin:10px;
    }

    div{
     border-radius:20px;
    }
    .emailinput {
    background-color: #e89999;
    }
</style>
<br>

<div class="container bg-white shadow-md p-5 form-layout">
    <h3>Password reset</h3>
    <hr>

    <p>Forgotten your password? Enter your email adress below,
        and we'll email instruxtions setting a new one .</p>

    <form method="post">
        {% csrf_token %}
        <br>
        {{form|crispy}}
        <br>
        <button type="submit" class="btn btn-secondary btn-lg w-20 btn-block">Send password reset link</button>


    </form>
</div>
{% endblock content %}



