
{% include "store/base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<style>
    body{
    background-color: gray;
    margin:10px;
    }
    div{
     border-radius:20px;
    }
</style>

 <br>

<div class="container bg-white shadow-md p-5 form-layout">

    <h3>Password reset complete</h3>
    <hr>
    <p>Your password has been set. You may proceed to login.</p>

    <a class="btn btn-primary my-2" href="{% url 'my-login' %}">Login</a>

</div>
{% endblock content %}



