
{% include "store/base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<style>
    body{
    background-color: gray;
    }

  .form-layout{
     border-radius:20px;
     width:90%;
     background-color: white;
   }
</style>

  <body>

    <br>

    <div class="container bg-white shadow-md p-5 form-layout">

        <h3>login to your account</h3>


        <form method="POST" autocomplete="off">
            {% csrf_token %}
            {{form}}
            <br> <br>
            <button type="submit" class="btn btn-secondary btn-lg w-100 btn-block">Login</button>
            <br> <br>
            <div class="text-center">
              <a href="{% url 'register' %}">Don't have an account ? </a>
            </div>
            <br> <br>
            <div class="text-center">
              <a href="{% url 'reset_password' %}">Forgotten your password ? </a>
            </div>

        </form>


    </div>

  </body>

{% endblock content %}