
{% include "store/base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<style>
    body{
    background-color: gray;
    }

    div{
      margin:10px 10px;
    }

  .form-layout{
     border-radius:20px;
     width:50%;
     background-color: white;
   }
</style>

  <body>

    <br>

    <div class="container bg-white shadow-md p-5 form-layout">

        <h3>Update your account</h3>
        <br>
        <hr>

        <form method="POST" autocomplete="off">
            {% csrf_token %}
            <h5>User name: {{user_form.username }}</h5>
            <br>
            <h5>Email: {{user_form.email}}</h5>

            {% for error in user_form.errors %}
              <h5>Error : {{error}}</h5>
            {% endfor %}

            <br> <br>

            <button type="submit" class="btn btn-secondary btn-lg w-20 btn-block">Update your account</button>

        </form>

        <br>

    </div>

    <div class="container bg-white shadow-md p-5 form-layout">

        <h3>Delete your account</h3>
        <br>
        <hr>
         <p> Proceed if you wish to delete your account. </p>

        <br>
        <a class="btn btn-primary navbar-btn text-white" type="button"  href="{% url 'delete-account' %}"> Delete your account </a>
    </div>

  </body>

{% endblock content %}