


{% include "store/base.html" %}

{% load static %}

{% block content %}

<style>
    body{
    background-color: white;
    }

</style>

  <body>

       <br>

        <div class="container bg-white shadow-md p-5 form-layout">

            <div class="text-center">

                <i class="text-danger fa fa-credit-card-alt fa-3x" aria-hidden="true"></i>

                <h3> Payment failed!</h3>

                <p>Your order was not processed.</p>

            </div>

        </div>

  </body>

{% endblock content %}